:root {
  --max-width: 1200px;
  --border-radius: 12px;
  --font-mono: Inter, ui-monospace, Menlo, Monaco, "Cascadia Mono",
    "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace",
    "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground: #abe8e4;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 1rem;
    font-family: var(--font-mono);
    font-weight: 300;
  }
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  justify-content: space-between;
  padding: 70px 160px 49px 160px;
}

.recipePageGrid {
  display: grid;
  gap: 2rem;
  margin: 2rem auto;
  max-width: var(--max-width);
  color: black;

  h2 {
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 1.5rem;
  }

  h3 {
    font-weight: 500;
    padding-bottom: 0.5rem;
  }
}

.recipeGridCard {
  background-color: whitesmoke;
  border-radius: var(--border-radius);
  width: 100%;
  padding: 2rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.mainInfo {
  display: grid;
  grid-template-columns: 1.75fr 4fr;
  padding: 0;
}

.recipeName {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.recipeImage {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.recipeInfo {
  padding: 2rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
}

.spreadOut {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rateRecipe {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  padding-top: 1rem;
  font-size: 1.2rem;

  strong {
    font-weight: 500;
  }
}

.beforeWhileAfter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.beforeAfter {
  display: grid;
  /* grid-template-rows: 1fr 1fr; */
  gap: 2rem;
}

.neededStuff {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;

  ul {
    padding-left: 1rem;
  }
}

.whileCooking {
  ol {
    padding-left: 1rem;

    li {
      padding-bottom: 1rem;
    }
  }
}

.saveButton {
  background-color: rgb(21, 113, 219);
  color: white;
  border: none;
  border-radius: 50px;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #1c9ade;
  }
}

.printButton {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #c6c6c6;
    color: white;
    border: 1px solid white;
  }
}

.afterButtons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: flex-start;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ff8a6c;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  /* color: rgb(var(--foreground)); */
  background-color: var(--foreground);
}

a {
  color: inherit;
  text-decoration: none;
}

.wavyBox {
  margin: 10vh auto;
  display: grid;
  place-items: center;

  img {
    height: 75vh;
    position: absolute;
    top: 0;
    left: 0;
  }

  div {
    place-self: center;
    place-content: center;
    color: black;
    position: relative;
    text-align: center;

    h1 {
      font-size: 4rem;
      font-weight: 550;
    }

    p {
      margin: 1rem;
    }
  }
}

.navBar {
  background-color: white;
  color: #232323;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  z-index: 1000;
  padding: 2rem;
  align-items: center;

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;

    li {
      padding: 0 1rem;
    }
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
